@import "../colors";

.maze {
  background: $lightPurple;
  width: fit-content;
  .cell {
    width: 30px;
    height: 30px;

    &.west {
      width: 26px;
    }

    &.north {
      height: 26px;
    }
  }

  .row {
    display: flex;
  }

  .west {
    border-left: solid 4px $mediumPurple;
  }

  .north {
    border-top: solid 4px $mediumPurple;
  }

  .east {
    border-right: solid 4px $mediumPurple;
  }

  .south {
    border-bottom: solid 4px $mediumPurple;
  }
}


