@import "../colors";

.maze {
  background: $lightPurple;
  width: fit-content;
  .cell {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    box-sizing: border-box;

    .pony,
    .domokun,
    .door {
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: contain;
    }

    .pony {
      background-image: url("../assets/pony.png");
      animation: run 0.5s ease-in-out infinite;
    }

    .domokun {
      background-image: url("../assets/domokun.png");
      animation: run 0.5s ease-in-out infinite;
    }

    .door {
      background-image: url("../assets/door.png");
    }
  }

  @keyframes moveLeft {
    from {
      background-position-x: 0;
      background-position-y: 144px;
    }
    to {
      background-position-x: 141px;
      background-position-y: 144px;
    }
  }

  @keyframes moveRight {
    from {
      background-position-x: 0;
      background-position-y: 96px;
    }
    to {
      background-position-x: 141px;
      background-position-y: 96px;
    }
  }

  @keyframes moveDown {
    from {
      background-position-x: 0;
    }
    to {
      background-position-x: 141px;
    }
  }

  @keyframes moveUp {
    from {
      background-position-x: 0;
      background-position-y: 48px;
    }
    to {
      background-position-x: 141px;
      background-position-y: 48px;
    }
  }

  .row {
    display: flex;
  }

  .west {
    border-left: solid 4px $mediumPurple;
  }

  .north {
    border-top: solid 4px $mediumPurple;
  }

  .east {
    border-right: solid 4px $mediumPurple;
  }

  .south {
    border-bottom: solid 4px $mediumPurple;
  }
}

@keyframes run {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 2px);
  }
  100% {
    transform: translate(0);
  }
}
