@import "../colors";

.slider {
  display: flex;
  align-items: center;
  gap: 8px;
}

input[type="range"] {
  border-radius: 25px;
  height: 10px;
  width: 100%;
  outline: none;
  -webkit-appearance: none;
  margin: 10px 0;
  background: $darkPurple;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  background: $pink;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 1);
}

input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  background: $pink;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 1);
}
