@import "../colors";

.slider {
  display: flex;
  align-items: center;
  margin: 10px 0;

  &__input {
    border-radius: 25px;
    height: 10px;
    width: 100%;
    outline: none;
    -webkit-appearance: none;
    margin: 10px 8px;
    background: $darkPurple;

    // Chrome, Safari, Opera, iOS browsers
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 18px;
      height: 18px;
      background: $pink;
      border-radius: 50%;
      cursor: pointer;
      box-shadow: 0 0 1px 0 rgba(0, 0, 0, 1);
    }

    // Firefox
    &::-moz-range-thumb {
      -webkit-appearance: none;
      width: 18px;
      height: 18px;
      background: $pink;
      border-radius: 50%;
      cursor: pointer;
      box-shadow: 0 0 1px 0 rgba(0, 0, 0, 1);
    }

    @media only screen and (max-width: 1280px) {
      width: 50%;
    }
  }
  @media only screen and (max-width: 600px) {
    margin: 0;
  }
}
