@import "colors";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;800&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;

  &__sidebar {
    color: white;
    width: 20%;
    background: $mediumPurple;
    padding: 2rem;
  }

  &__maze-container {
    width: 80%;
    background: $darkPurple;
  }

  &__title {
    color: $pink;
    font-weight: 900;
    grid-area: title;
  }

  &__parameters {
    display: flex;
    flex-direction: column;
    grid-area: parameters;
  }

  &__buttons {
    margin: 20px 0;
    grid-area: buttons;
    &--play {
      margin-right: 10px;
      width: 100%;
    }
    &--play,
    &--retry {
      background: $lightPurple;
      color: $white;
      border: none;
      cursor: pointer;
      padding: 10px;
    }
  }

  &__mode {
    grid-area: mode;
    > label {
      margin-right: 8px;
    }
  }

  &__keyboard-controls {
    display: flex;
    align-items: flex-end;
    &-icon {
      margin: 0 8px;
    }
  }

  &__mouse-controls {
    position: absolute;
    right: 30px;
    bottom: 10px;
    display: grid;
    grid-template-areas:
      ". up ."
      "left . right"
      ". down .";
    &-up,
    &-down,
    &-left,
    &-right {
      width: 2em;
      height: 2em;
      margin: 2px;
      cursor: pointer;
    }
    &-up {
      grid-area: up;
    }
    &-down {
      grid-area: down;
    }
    &-left {
      grid-area: left;
    }
    &-right {
      grid-area: right;
    }
  }

  &__maze-container {
    display: inherit;
    align-items: center;
    justify-content: center;
  }

  &__instructions {
    color: $white;
  }

  &__game-over,
  &__game-won {
    display: flex;
    flex-direction: column;
    align-items: center;

    > p {
      color: $white;
      font-size: 1em;
      text-transform: uppercase;
    }

    .app__buttons--retry {
      width: 120px;
    }
  }

  &__gif {
    max-width: 70%;
    height: auto;
    margin-bottom: 40px;
  }

  @media only screen and (max-width: 1280px) {
    flex-wrap: wrap-reverse;
    &__sidebar,
    &__maze-container {
      position: relative;
      width: 100%;
    }
    &__sidebar {
      height: 15%;
      display: grid;
      grid-template-areas:
        "parameters title"
        "parameters mode"
        "parameters buttons";
    }
    &__title {
      margin-top: 0;
      text-align: center;
    }
    &__mode {
      text-align: center;
    }
    &__buttons {
      width: 60%;
      justify-self: center;
    }
    &__description,
    &__keyboard-controls {
      display: none;
    }
    &__maze-container {
      height: 85%;
    }
  }

  @media only screen and (max-width: 600px) {
    &__title {
      display: none;
    }

    &__sidebar {
      padding: 1rem;
      grid-template-areas:
      "parameters"
      "mode"
      "buttons";
      justify-content: center;
      height: auto;
    }
  }
}
